package views

templ Home() {
	@Page() {
		<div class="h-screen flex flex-col justify-center items-center">
			@DogImage()
			<button
				hx-get="/home/dog-image"
				hx-trigger="click"
				hx-target="#dog-image"
				hx-swap="outerHTML"
			>
				Get a dog
			</button>
		</div>
	}
}

templ DogImage() {
	<img id="dog-image" src={ ctx.Value("src").(string) } alt="this is an image of a dog"/>
}
